.body{
  background-color: rgb(102,120,120);
  
}

.titulo{
  background-color: rgb(24,26,30);
  
  text-align: center;
  text-transform: uppercase;
  color: rgb(180,183,185);
}

.derecha{
  background-color: #122f6f;
  color: white;
  
  
}

.enlaces{
  background-color: rgb(24,26,30);
  
  text-align: center;
  text-transform: uppercase;
  color: rgb(180,183,185);
  
}
.gitx{
  background-color: rgb(24,26,30);
  
  text-align: center;
  text-transform: uppercase;
  color: rgb(180,183,185);
  
}
.letras{
  background-color: rgb(24,26,30);
  
  text-align: center;
  text-transform: uppercase;
  color: rgb(180,183,185);
}
.translate{
  background-color: rgb(24,26,30);
  
  text-align: center;
  text-transform: uppercase;
  color: rgb(180,183,185);
}