.body{
  background: silver;
  
  
}

.que_es_termux_maid{
  background: #28516d;
  color: white;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 7px 7px 10px #0d0d0d;
}

.foto{
  padding-top: 4px;
  box-shadow: 7px 7px 10px #0d0d0d;
}
.code{
  background-color: #161f2a;
  color: white;
  border-radius: 5px;
  box-shadow: 7px 7px 10px #0d0d0d;
}
.titulo{
  border-width: 2px;
  border-style: solid;
  border-color: silver;
  background: #023f4e;
  color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 7px 7px 10px #0d0d0d;
}
.titulo2{
  border-radius: 5px;
  background-color: #023f4e;
  color: white;
  font-family: 'Times New Roman';
  border-radius: 5px;
  box-shadow: 7px 7px 10px #0d0d0d;
}
.comandos {
  background: #28516d;
  font-family: 'Times New Roman';
  background-color: rgb(2,63,78);
  color: white;
  border-radius: 5px;
  box-shadow: 7px 7px 10px #0d0d0d;
}
.uso{
  background: #28516d;
  color: white;
  border-radius: 5px;
  box-shadow: 7px 7px 10px #0d0d0d;
}